<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048283395626-ui8sg7nklngeil4tfokufuv9o6dmij3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048283395626-ui8sg7nklngeil4tfokufuv9o6dmij3c</string>
	<key>API_KEY</key>
	<string>AIzaSyBPd9BA2H7En1GRlsdno_--wdziVl4lJwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1048283395626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.trabalhofinalflutter</string>
	<key>PROJECT_ID</key>
	<string>primeiroflutter-c3633</string>
	<key>STORAGE_BUCKET</key>
	<string>primeiroflutter-c3633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048283395626:ios:49dc255718c31750ab7553</string>
</dict>
</plist>